<a href="{{request.base}}/api/user/add" class="btn btn-default"> Crear usuario </a>


<div class="row">
	<div class="col-md-12">
		<table class="table">
			<tr>
				<th>Nombre</th>
				<th>Rol</th>
				<th colspan="2">Acciones</th>
			</tr>
			
			{{# Results.rows }}
			<tr>
				{{> Api/User/Partials/item_index }}
			</tr>
			{{/ Results.rows}}
			
			{{^ Results.rows.0 }}
				<tr>
					<td colspan="7">No se encontraron Usuarios</td>
				</tr>
			{{/ Results.rows.0 }}
		</table>
	</div>
</div>