<td>{{ value.label }}</td>
<td>{{ value.rol.type }}</td>
<td><a href="{{request.base}}/api/user/edit/{{id}}">Editar</a></td>
<td><a href="{{request.base}}/api/user/delete/{{id}}/{{value.rev}}">Eliminar</a></td>