<tr>
	<td>
		<input type="text" class="inp_text" name="doc[nivel_1][entrevista][{{depth}}][pregunta]" value="{{pregunta}}">
	</td>

	<td>
		<input type="number" name="doc[nivel_1][entrevista][{{depth}}][puntaje]" value="{{puntaje}}">
	</td>

	<td>
		<textarea placeholder="Ingrese la respuesta que dara el paciente" cols="35" rows"10" name="doc[nivel_1][entrevista][{{depth}}][respuesta]">{{respuesta}}</textarea>
	</td>

	<td>
		<button class="btn btn-danger btn-xs remove_item" title="Eliminar"><span class="glyphicon glyphicon-remove"></span></button>
	</td>
</tr>