<tr>
	<td>
		<input type="text" class="inp_text" name="doc[nivel_2][exploracion_palpacion_tests][{{depth}}][prueba]" value="{{prueba}}">
	</td>

	<td>
		<input type="number" name="doc[nivel_2][exploracion_palpacion_tests][{{depth}}][puntaje]" value="{{puntaje}}">
	</td>

	<td>
		<button class="btn btn-positivo {{# positivo }} active {{/positivo }}"><span class="glyphicon glyphicon-thumbs-up"></span> Positiva</button>
		<input class="state_positivo" {{^ positivo }} disabled {{/positivo }} type="hidden" name="doc[nivel_2][exploracion_palpacion_tests][{{depth}}][positivo]" value="true">

		<button class="btn btn-negativo {{# negativo }} active {{/negativo }}"><span class="glyphicon glyphicon-thumbs-down"></span> Negativa</button>
		<input class="state_negativo"  {{^ negativo }} disabled {{/negativo }} type="hidden" name="doc[nivel_2][exploracion_palpacion_tests][{{depth}}][negativo]" value="true">
	</td>
	<td>
		<button class="btn btn-danger remove_item">Eliminar</button>
	</td>
</tr>