<td>{{ value.titulo }}</td>
<td>{{ value.categoria.value }} </td>
<td><a href="{{request.base}}/api/examen/edit/{{id}}">Editar</a></td>
<td><a href="{{request.base}}/api/examen/delete/{{id}}/{{value._rev}}">Eliminar</a></td>