
<a href="{{request.base}}/api/examen/add" class="btn btn-default"> Crear examen </a>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<tr>
				<th>Titulo</th>
				<th>Categoria</th>
				<th colspan="2">Acciones</th>
			</tr>
			{{# Results.rows.0 }}
				
					{{# Results.rows }}
					<tr>
						{{> Api/Examen/Partials/item_index }}
					</tr>
					{{/ Results.rows}}
				
			{{/ Results.rows.0 }}
			{{^ Results.rows.0 }}
				<tr>
					<td colspan="7">No se encontraron examenes</td>
				</tr>
			{{/ Results.rows.0 }}
		</table>
	</div>
</div>